<% if (faves)
{ %>
    <% faves.forEach(function(movie)
    { %>
        <ul>
            <li>
                <%= movie.title %>
                <a href="/movies/<%= movie.imdbid %>">More Info</a>
            </li>
        </ul>
    <% }) %> 
<% }
else
{ %> 
    <h2>No Favorites Available!</h2>
<% } %>
